node_modules/
dist/
build/
*.exe
*.dll
*.so
*.dylib
*.rar
*.zip
*.7z
*.tar.gz
*.log
.env
.DS_Store
Thumbs.db
release/
TemuiLauncherRelease/
temui_build/
temuiapps/
temuiappsnew/
temuiappsold/
release_mac/
release_mac_fix/
release_mac_v1/
backend/tmp/
backend/release/
